# RouteE API Walkthrough

This notebook demonstrates how to use the RouteE API. 

### Requirements: 
- [Python](https://www.python.org/): 3.8.X
- [requests](https://docs.python-requests.org/en/latest/): 2.25.X
- [pandas](https://pandas.pydata.org/): 1.2.X
- A developer.nrel.gov API key. Sign-up [here](https://developer.nrel.gov/signup/).

For more detailed information see the [API documentation](https://developer.nrel.gov/docs/transportation/routee-v1/) or the [API key rate limits page](https://developer.nrel.gov/docs/rate-limits/).

## Design and Intend Usage Philosophy

This tool was designed with a specific application in mind. The overall workflow is:

1. Take the user's tabular route or network transportation data, convert it to JSON format.
2. POST to the API the route/network data with additional JSON parameters that define the RouteE model application.
3. Return the API response in JSON format with road segment-level energy estimates and metadata. Then, convert the response JSON back to tabular format.
4. Join (by attribute) with your original data to append the energy cost information.

## A. route endpoint example:

In [37]:
# Setup
import requests
import warnings
import json

import pandas as pd
from pprint import pprint
from pathlib import Path

warnings.filterwarnings('ignore')

your_api_key = 'DEMO_KEY'

DEV_URL_ROUTE = f'https://developer.nrel.gov/api/routee/v2/route?api_key={your_api_key}'

## 1. Take the user's tabular route or network transportation data, convert it to JSON format.

In [38]:
raw_network = pd.read_csv(r'..\test_data\test_route.csv') #pretending this represents a segment-level road network

raw_network['volume_new'] = 50 
raw_network['grade_new'] = 0.0

request_route = raw_network[['net_id', 'speed_mph', 'length_mi', 'grade_new']]

print("What your data might look like in your database: ")
request_route.head(3)

What your data might look like in your database:

   net_id  speed_mph  length_mi  grade_new
0   23268         25   0.011648        0.0
1  169248         50   0.056629        0.0
2  212054         45   0.004110        0.0

## 2. POST to the API the route/network data with additional JSON parameters that define RouteE model application.

Data is POSTed to the `/route` endpoint in JSON format. Each request should contain the following JSON keys: 

1. "segment_ids": ordered array of road segment identifiers.
2. "lengths_miles": ordered array of road segment lenghts (in miles).
3. "speeds_mph": ordered array of road segment speeds (in MPH).
4. "grades_percent": ordered array of road segment gradients (as float).
5. "model": the string representation of the desired vehicle model. The options are:
    a. "gasoline": conventional gasoline light-duty vehicle
    b. "diesel": diesel light-duty vehicle
    d. "hybrid": hybrid light-duty vehicle
    e. "electric": plug-in hybrid light-duty vehicle

In [39]:
# Construct the application/json content-type header object

ids = list(raw_network['net_id'])
speeds = list(raw_network['speed_mph'])
miles = list(raw_network['length_mi'])
grades = list(raw_network['grade_new'])

request_route_data = {
    "segment_ids": ids,
    "lengths_miles": miles,
    "speeds_mph": speeds,
    "grades_percent": grades,
    "model": "diesel", 
}

# POST to the API
headers = {'content-type': 'application/json'}
p = requests.post(DEV_URL_ROUTE,  json=request_route_data, headers=headers)
print(p.status_code) #Hope for 200

200

## 3. Return the API response in JSON format with road segment energy estimates and metadata. Convert the response JSON back to tabular format.

In [40]:
if p.status_code == 200:
    print('Metadata: \n')
    pprint(p.json()['output_metadata'])

    print('\nData: ')
    new_df = pd.DataFrame(p.json()['route'])
    print(new_df.head())
else:
    print(p.text)

Metadata:

{'Data Dictionary': {'Output fields': {'energy_estimate': 'Segment level '
                                                          'energy estimate'}},
 'Energy Unit': 'gge',
 'RouteE version': '0.5.1',
 'Total Energy': '0.1105',
 'Vehicle description': '2016_BMW_328d_4cyl_2WD-speed&grade'}

Data:
   segment_ids  energy_estimate
0        23268         0.000467
1       169248         0.001514
2       212054         0.000110
3        78644         0.001942
4       220927         0.000120

## 4. Join (by attribute) with your original data to append the energy cost information.

In [41]:
# Inner join the resulting data with the input data on the "net_id" column
new_df.rename(columns={'segment_ids': 'net_id'}, inplace=True)
joined_data = request_route.merge(new_df, on='net_id', how='inner') 

print('Example results:')
joined_data.head()

Example results:

   net_id  speed_mph  length_mi  grade_new  energy_estimate
0   23268         25   0.011648        0.0         0.000467
1  169248         50   0.056629        0.0         0.001514
2  212054         45   0.004110        0.0         0.000110
3   78644         50   0.072633        0.0         0.001942
4  220927         45   0.004489        0.0         0.000120

## B. network endpoint example:

This follows the same design as the /route endpoint, with a few changes...

In [42]:
DEV_URL_NETWORK = f'https://developer.nrel.gov/api/routee/v2/network?api_key={your_api_key}'

## 1. Take the user's tabular route or network transportation data, convert it to JSON format.

In [43]:
# Converting the test data .csv to a pandas data table.
# Using the same dataframe as before
request_network = raw_network[['net_id', 'speed_mph', 'length_mi', 'grade_new', 'volume_new']] #trimming to only necessary columns (volume required for network endpoint)

print("What your data might look like in your database: ")
request_network.head(3)

What your data might look like in your database:

   net_id  speed_mph  length_mi  grade_new  volume_new
0   23268         25   0.011648        0.0          50
1  169248         50   0.056629        0.0          50
2  212054         45   0.004110        0.0          50

## 2. POST to the API the route/network data with additional JSON parameters that define RouteE model application.

Data is POSTed to the `/route` endpoint in JSON format. Each request should contain the following JSON keys: 

1. "segment_ids": ordered array of road segment identifiers.
2. "lengths_miles": ordered array of road segment lenghts (in miles).
3. "speeds_mph": ordered array of road segment speeds (in MPH).
4. "grades_percent": ordered array of road segment gradients (as float).
5. "volumes": ordered array of road segment-level traffic counts (as int).
6. "gasoline_ratio": The percentage (as float) of vehicles on the road represented by gasoline vehicles.
7. "diesel_ratio": The percentage (as float) of vehicles on the road represented by diesel vehicles.
8. "hybrid_ratio": The percentage (as float) of vehicles on the road represented by hybrid vehicles.
9. "electric_ratio": The percentage (as float) of vehicles on the road represented by electric vehicles.

In [44]:
# Construct the application/json content-type header object

ids = list(request_network['net_id'])
speeds = list(request_network['speed_mph'])
miles = list(request_network['length_mi'])
grades = list(request_network['grade_new'])
volumes = list(request_network['volume_new'])

request_network_data = {
    "segment_ids": ids,
    "lengths_miles": miles,
    "speeds_mph": speeds,
    "grades_percent": grades,
    "volumes": volumes,
    "gasoline_ratio": 0.85, 
    "diesel_ratio": 0.1,
    "hybrid_ratio": 0.025,
    "electric_ratio": 0.025
}

# POST to the API
headers = {'content-type': 'application/json'}
p = requests.post(DEV_URL_NETWORK,  json=request_network_data, headers=headers)
print(p.status_code) #Hope for 200

200

## 3. Return the API response in JSON format with road segment energy estimates and metadata. Convert the response JSON back to tabular format.

In [45]:
if p.status_code == 200:
    print('Metadata: \n')
    pprint(p.json()['output_metadata'])

    print('\nData: ')
    new_df = pd.DataFrame(p.json()['network'])
    print(new_df.head())
else:
    print(p.text)

Metadata:

{'Data dictionary': {'Output fields': {'diesel_total_energy': 'Conventional '
                                                              'diesel vehicle '
                                                              'single total '
                                                              'energy estimate',
                                       'electric_charge_depleting_total_energy': 'Battery '
                                                                                 'electric '
                                                                                 'vehicle '
                                                                                 'total '
                                                                                 'energy '
                                                                                 'estimate',
                                       'gasoline_total_energy': 'Conventional '
                                                                'gasoline '
                                                                'vehicle total '
                                                                'energy '
                                                                'estimate',
                                       'hybrid_total_energy': 'Hybrid electric '
                                                              'vehicle total '
                                                              'energy estimate',
                                       'total_energy': 'Total segment level '
                                                       'energy estimate'}},
 'Energy summary': {'Total BEV energy': ' 0.0383',
                    'Total HEV energy': ' 0.0927',
                    'Total diesel energy': ' 0.5525',
                    'Total energy': '5.3515',
                    'Total gasoline energy': ' 4.6680'},
 'Energy unit': 'GGE',
 'RouteE Models': {'BEV': '2016 Chevrolet Spark',
                   'Conventional Gasoline': '2016 Chevrolet Malibu 4-cylinder',
                   'Diesel': '2016 BMW 328d 4-cylinder',
                   'HEV': '2015 Honda Accord HEV'},
 'RouteE version': 'v0.5.0'}

Data:
   segment_ids  gasoline_total_energy  diesel_total_energy  \
0        23268               0.019486             0.002333
1       169248               0.063649             0.007570
2       212054               0.004619             0.000549
3        78644               0.081637             0.009710
4       220927               0.005045             0.000600

   hybrid_total_energy  electric_total_energy
0             0.000382               0.000103
1             0.001336               0.000573
2             0.000090               0.000036
3             0.001714               0.000735
4             0.000098               0.000039

## 4. Join (by attribute) with your original data to append the energy cost information.

In [46]:
# Inner join the resulting data with the input data on the "net_id" column
new_df.rename(columns={'segment_ids': 'net_id'}, inplace=True)
joined_data = request_network.merge(new_df, on='net_id', how='inner') 

print('Example results: ')
joined_data.head()

Example results:

,net_id,speed_mph,length_mi,grade_new,volume_new,gasoline_total_energy,diesel_total_energy,hybrid_total_energy,electric_total_energy
0,23268,25,0.011648,0.0,50,0.019486,0.002333,0.000382,0.000103
1,169248,50,0.056629,0.0,50,0.063649,0.007570,0.001336,0.000573
2,212054,45,0.004110,0.0,50,0.004619,0.000549,0.000090,0.000036
3,78644,50,0.072633,0.0,50,0.081637,0.009710,0.001714,0.000735
4,220927,45,0.004489,0.0,50,0.005045,0.000600,0.000098,0.000039